/* .start {
 margin-top: 20px;
} */
/* .body {
 background-image: url('./img/pattern-background-mobile.svg');
} */


/* 0px - 768px-მდე არის width: 327px */



@media only screen and (min-width: 328px) {
    body {
        background-image: url('./img/bg-pattern-top.svg'),
        url('./img/bg-pattern-bottom.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: left -700px top -640px, bottom -570px right -690px;
    }
    .card {
        width: 326px;
    }
    .h2_p {
        margin-top: 38px;
    }
    .annual-plan-parent {
        width: 354px;
    }
    

} 

@media only screen and (min-width: 1024px) {
    body {
        background-image: url('./img/bg-pattern-top.svg'),
        url('./img/bg-pattern-bottom.svg');
        background-repeat: no-repeat, no-repeat;
        background-position: left -310px top -510px, bottom -690px right -193px;
    }
    .card {
        width: 450px;
    }
}














